<!DOCTYPE html>
<html>
  <head>
  <title>TRIF Mobile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
  <script type="text/javascript" src="/static/jquery.fn.gmap.full.min.js"></script>
  <script type="text/javascript">
    $('#map').live("pageshow", function(){
      $('#map_canvas').gmap('refresh');
    });
    $('#map').live("pagecreate", function(){
      $('#map_canvas').gmap({'center': '36.1113, -95.931', 'zoom': 10}).bind('init', function(evt, map){
        $.getJSON('/alerts.json', function(data){
          $.each(data.alerts, function(i,m) {
            $('#map_canvas').gmap('addMarker', {'position': new google.maps.LatLng(m.geo.latitude, m.geo.longitude), 'bounds': true});
          });
        });
        $('#map_canvas').gmap('watchPosition', function(position, status){
          if (status === 'OK') {
            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var marker = $('#map_canvas').gmap('get', 'markers > client');
            if (!marker) {
              $('#map_canvas').gmap('addMarker', {'id': 'client', 'position': latlng, 'bounds': true});
            } else {
              marker.setPosition(latlng);
            }
            map.panTo(latlng);
          }
        });
        console.log("outside of watchPosition");
      });
    });
    $('#map').live("pagehide", function() {
      $('#map_canvas').gmap('clearWatch');
    });
  </script>
</head>
<body>

<div data-role="page" id="map">

  <div data-role="header">
    <h1>TRIF Mobile</h1>
  </div><!-- /header -->

  <div data-role="content">
    <div id="map_canvas" style="height:350px;"></div>
  </div><!-- /content -->

  <div data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a href="#" class="ui-btn-active">Map</a></li>
        <li><a href="#list">List</a></li>
      </ul>
    </div>
  </div>

</div><!-- /page -->

<div data-role="page" id="list">

  <div data-role="header">
    <h1>TRIF Mobile</h1>
  </div><!-- /header -->

  <div data-role="content">
    <p>List view</p>
  </div><!-- /content -->

  <div data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a href="#map">Map</a></li>
        <li><a href="#" class="ui-btn-active">List</a></li>
      </ul>
    </div>
  </div>

</div><!-- /page -->
</body>
</html>

