{% extends "base.html" %}

{% block title %}Tulsa Road Information Feed - Welcome Developers!{% endblock %}

{% block body%}
<h1>Welcome developers!</h1>
<p>The Tulsa Road Information Feed contains information from several official sources, geo-tagged for your convenience.  The sources are:
</p>
<ul>
    <li>911 (<a href="http://www.cityoftulsa.org/live-traffic-report.aspx">Map</a>, <a href="http://www.cityoftulsa.org/live-traffic-report/live-traffic-report-text-only.aspx">Text-only</a>, and <a href="http://www.cityoftulsa.org/rss/accident.aspx">Atom feed</a>)</li>
    <li><a href="http://www.cityoftulsa.org/road-closure-map/map.aspx">City of Tulsa road closures</a></li>
    <li><a href="http://www.okladot.state.ok.us/newsmedia/traffax/tulsa/">Oklahoma Department of Transportation road closures press releases</a></li>
</ul>
<p>Our source code is hosted at <a href="https://github.com/tulsawebdevs/tulsa-road-issues-feed/">github</a>.
</p>
<p>There are other representations available:</p>
<ul>
    <li><a href="{% url alerts_feed file_type='xml' %}">Atom Feed</a> w/ GeoRSS</li>
    <li><a href="{% url alerts_feed file_type='json' %}">JSON format</a></li>
</ul>
{% endblock %}
