{% extends "base.html" %}

{% block title %}Tulsa Road Information Feed{% endblock %}

{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen"/>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/static/script.js"></script>
{% endblock %}

{% block body_attrs %}onload="initialize()"{% endblock %}
{% block body%}
<div id="side_bar">
    <div class="logo_block">
        <a href="{% url about %}">Tulsa Road Information Feed</a><br/>
        Built by <a href="http://tulsawebdevs.org">Tulsa Web Devs</a>
        at <a href="http://tulsahackathon.com">Tulsa Hackathon</a>.
    </div>
    <div class="close_btn">&lt;&lt;</div>
    <table class="unmapped">
        <thead>
            <tr>
                <th colspan="3">Unmapped items</th>
            </tr>
            <tr>
                <th>Type</th>
                <th>Start</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="map_canvas" style="height:100%"></div>
{% endblock %}

